{% extends "base.html" %}
{% comment %} {% extends "account/base_manage_password.html" %} {% endcomment %}
{% load allauth i18n %}
{% block head_title %}
    {% translate "Changer le mot de passe" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% translate "Changer le mot de passe" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% translate "Changer le mot de passe" %}
            {% endelement %}
            <br><br>
            <a href="{% url 'account_reset_password' %}">{% translate "Mot de passe oublié?" %}</a>
        {% endslot %}
    {% endelement %}
{% endblock content %}
