{% extends "base.html" %}
{% load i18n %}
{% block link %}
<style>


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--primary-color);
    border-radius: 8px;
}

.set-password-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.alert-box.danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-box.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.help-text {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    color: var(--text-color);
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--primary-color);
}

</style>
{% endblock link %}


{% block content %}
    <div class="container set-password-container">
        <h1>{% trans "Définir le mot de passe" %}</h1>
        
        {% if token_fail %}
            <div class="alert-box danger">
                {% trans "Le lien de réinitialisation du mot de passe est invalide, probablement parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation du mot de passe." %}
            </div>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}" class="set-password-form">
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                    <div class="alert-box danger">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <div class="alert-box danger">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if field.help_text %}
                        <small class="help-text">
                            {{ field.help_text }}
                        </small>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <button class="btn submit-button" type="submit">{% trans "Définir le mot de passe" %}</button>
                </form>
            {% else %}
                <div class="alert-box success">
                    {% trans "Votre mot de passe a été changé avec succès." %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block javascript %}
{{ block.super }}
{% endblock javascript %}
