{% extends "base.html" %}
{% comment %} {% extends "account/base_entrance.html" %} {% endcomment %}
{% load i18n %}
{% load allauth %}
{% block title %}
    {% trans "Modifier le mot de passe" %}
{% endblock title %}
{% block link %}
<style>
.content{
    margin-top: 150px;
    align-items: center;
}
.login-button {
    text-align: center;
    margin-top: 20px;
}

.login-button .btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button .btn:hover {
    background-color: var(--secondary-color);
}
</style>
{% endblock link %}
{% block content %}
    {% element h1 %}
        {% trans "Modifier le mot de passe" %}
    {% endelement %}
    {% element p %}
        {% trans "Votre mot de passe est maintenant modifié." %}
    {% endelement %}
    <div class="login-button">
        <a href="{% url 'account_login' %}" class="btn">{% trans "Se connecter" %}</a>
    </div>
{% endblock content %}
{% block javascript %}
{{ block.super }}
{% endblock javascript %}
