{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
{% trans "Vérifiez votre adresse e-mail" %}
{% endblock title %}
{% block content %}
<br><br><br>
{% element h1 %}
{% trans "Vérifiez votre adresse e-mail" %}
{% endelement %}
{% element p %}

{% blocktrans %}Nous vous avons envoyé un email de confirmation. Cliquez sur le lien pour finaliser votre processus
d'inscription. Si vous ne voyez pas l'e-mail de vérification dans votre boîte de réception, vérifiez votre dossier spam.
Contactez-nous si vous ne l'avez pas reçu d'ici quelques minutes.
{% endblocktrans %}
{% endelement %}
{% endblock content %}
{% block javascript %}
{{ block.super }}
{% endblock javascript %}