{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Mettre à Jour le Thread' %}
{% endblock %}

{% block content %}
<div class="main-container">
    <h2>{% trans "Mettre à Jour le Thread" %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans "Mettre à Jour" %}</button>
    </form>
    <a href="{% url 'forum:thread' slug=thread.slug %}" class="btn btn-secondary">{% trans "Annuler" %}</a>
</div>
{% endblock %}
