{% load static %}
{% load i18n %}

<div class="top-contributors section">
    <p>{% translate "Tops contributeurs" %}</p>
    {% for contributor in top_thread_authors %}
        <a href="{% url 'forum:profile' username=contributor.user.username %}">
            {% if contributor.user.profile_image %}
                <img src="{{ contributor.user.profile_image.url }}" alt="{% blocktranslate with name=contributor.user.name %}Photo de profil de {{ name }}{% endblocktranslate %}" class="profile-image">
            {% else %}
                <img src="{% static 'images/default_profile.png' %}" alt="{% blocktranslate with name=contributor.user.name %}Photo de profil par défaut de {{ name }}{% endblocktranslate %}" class="profile-image">
            {% endif %}
            {{ contributor.user.name }} - 
            {% blocktranslate count count=contributor.count %}
                {{ count }} thread
            {% plural %}
                {{ count }} threads
            {% endblocktranslate %}
        </a>
    {% endfor %}
    {% for contributor in top_post_authors %}
        <a href="{% url 'forum:profile' username=contributor.user.username %}">
            {% if contributor.user.profile_image %}
                <img src="{{ contributor.user.profile_image.url }}" alt="{% blocktranslate with name=contributor.user.name %}Photo de profil de {{ name }}{% endblocktranslate %}" class="profile-image">
            {% else %}
                <img src="{% static 'images/default_profile.png' %}" alt="{% blocktranslate with name=contributor.user.name %}Photo de profil par défaut de {{ name }}{% endblocktranslate %}" class="profile-image">
            {% endif %}
            {{ contributor.user.name }} - 
            {% blocktranslate count count=contributor.count %}
                {{ count }} post
            {% plural %}
                {{ count }} posts
            {% endblocktranslate %}
        </a>
    {% endfor %}
</div>